body {
  background: #bcdbdf;
  color: aliceblue;
  font-family: "Josefin Sans", sans-serif;
}

h1,
h2 {
  font-family: "Yeseva One", serif;
  text-transform: uppercase;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 60px;
  text-align: center;
}

a {
  color: #f7aa00;
  text-decoration: none;
  font-weight: 500;
}

a:hover {
  color: #bcdbdf;
  cursor: pointer;
}

footer {
  font-size: 12px;
  text-align: center;
}

.container {
  background-color: #235784;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 22px 70px 4px;
  margin: 40px auto;
  max-width: 500px;
  padding: 60px;
  width: 90%;
}

.current-weather-container {
  display: flex;
  justify-content: space-between;
}

.current-weather-container-right {
  text-align: center;
}

.weather-forecast-container {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

#city-search-input {
  border: none;
  border-radius: 12px;
  line-height: 46px;
  padding: 0 10px;
  width: 50%;
}

#city-search-button {
  color: aliceblue;
  background: #40a8c4;
  border: 1px solid #40a8c4;
  border-radius: 12px;
  padding: 14px 10px;
  transition: all 150ms ease-in-out;
}

#city-search-button:hover {
  cursor: pointer;
  background: aliceblue;
  border: 1px solid #235784;
  color: #40a8c4;
}
