body {
  background: #bcdbdf;
  color: aliceblue;
}

h1,
h2 {
  text-transform: uppercase;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 60px;
}

.container {
  background-color: #235784;
  border-radius: 10px;
  margin: 40px auto;
  max-width: 60%;
  padding: 60px;
}

.current-weather-container {
  display: flex;
  justify-content: space-between;
}

.weather-forecast-container {
  display: flex;
  justify-content: space-between;
}
