body {
  background: #bcdbdf;
  color: aliceblue;
  font-family: "Josefin Sans", sans-serif;
}

h1,
h2 {
  font-family: "Yeseva One", serif;
  text-transform: uppercase;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 60px;
  text-align: center;
}

a {
  color: #f7aa00;
  text-decoration: none;
  font-weight: 500;
}

a:hover {
  color: #bcdbdf;
  cursor: pointer;
}

footer {
  text-align: center;
}

.container {
  background-color: #235784;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 22px 70px 4px;
  margin: 40px auto;
  max-width: 60%;
  padding: 60px;
}

.current-weather-container {
  display: flex;
  justify-content: space-between;
}

.current-weather-container-right {
  text-align: center;
}

.weather-forecast-container {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
